{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}

    <div class="container admin">

<h1 class="citationadmin">Liste des citations</h1>

    <table class="responsive-table bordered striped">
        <thead>
            <tr>
                <th>Texte</th>
                <th>Editer</th>
            </tr>
        </thead>
        <tbody>
        {% for citation in citations %}
            <tr>
                <td>{{ citation.text|raw }}</td>
                <td>
                    <div class="boutons">
                            <a href="{{ path('citation_edit', { 'id': citation.id }) }}" title="Editer"><i class="material-icons doudous li_doudous">edit</i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="boutons">
        <a href="{{ path('citation_new') }}" title="Créer une nouvelle citation"><i class="material-icons doudous">add_circle</i></a>
        <a href="{{ path('admin_homepage') }}" title="Retourner à l'accueil de l'administration"><i class="material-icons doudous">dashboard</i></a>
    </div>
        </div>
{% endblock %}
