{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}
<div class="container admin">

    <h1 class="citationadmin">Créer une citation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" title="Valider"><i class="material-icons doudous">done</i></button>
    {{ form_end(form) }}

    <div class="boutons">
        <div class="row">
            <div class="col l12">
                <a href="{{ path('citation_index') }}" title="Revenir à l'accueil"><i class="material-icons doudous">home</i></a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
