/****************************/
/****************************/
/*        Logo              */
/****************************/
/****************************/
.nb_navbar_logo {
  width: 50%;
  height: 50%;
}

nav {
  height: 120px !important;
}

/****************************/
/****************************/
/*        row  & col        */
/****************************/
/****************************/
.rowCustom {
  padding: 0px !important;
  margin: 0px !important;
}

.colCustom {
  padding:0px !important;
  margin:0px;
  /*height: 100%;*/
  widows: 206px;
  height: 206px;
  background-color:#dedede;
}

/***************************/
/***************************/
/* BLOCK avec texte = menu */
/***************************/
/***************************/

/* Modification hauteur div */
@media screen and (max-width: 1000px) {
  .mobile{
    height: 200px;
  }
}


/* div container contenant titre, text + zone icone visible / non visible */
/*.resultContainer {
    position: relative;
}*/

/* div contenant l'icone */
/*.viewThisResult {
    position: absolute;
    margin-left: 38%;
    padding-top: 25%; 
}*/

/* Gestion affichage icone */
/*.colCustom .iMasque {
    display: none;
}*/
.colCustom:hover .iMasque {
    display: inline;
}


.iMasque {
  display: none;
}

/* Zone élément cliquable*/
/* non survolé */
a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #333;
    outline: none;
}

/* Zone élément cliquable*/
/* survolé */
a:hover {
    color: #999;
}

/* Titre de la box */
.h3BoxMenu {
    text-transform: uppercase;
    text-align: center;
    font-size: bold;
    font-weight: 80%;
    padding-top: 35px;
    font-family: butterfly;
}   

/* paragraphe de la box */
.pBoxMenu {
    text-align: justify;
    font-family: Didact Gothic;
    font-weight: 60%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

/****************************/
/****************************/
/* BLOCK avec photo + effet */
/****************************/
/****************************/

/* SURCHARGE framework ihover */
.ih-item.square {
  width: 100% !important;
  height: 99% !important;
  /* Suppression bordure shadow */
  border: 0px solid #fff !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3) !important;
}

