// BLOCK CITATION 

.citations{
	font-family: 'Dancing Script', cursive;
}

// NAV BAR 

nav  {
	height: 85px !important;
	background-color: RGBA(255,255,255,0.6);
}

.chouetteHibouxLogo {
	padding-left: 20px !important;
}

.navbar_logo {
	width: 80%;
	height: auto;
}

.full_nav a, .side-nav a{
	font: $font-titre;
	padding-left: 30px;
	text-align: center;
	padding-top: 50px;
	padding-bottom:31px;
	padding-right: 40px;
}

.accueil:hover {
	background-color: RGBA(252, 161, 60, 0.3) !important;
}

.doudous:hover {
	background-color: RGBA(233, 50, 85, 0.3) !important;
}

.bijoux:hover {
	background-color: RGBA(114, 67, 153, 0.3) !important;
}

.accessoires:hover {
	background-color: RGBA(70, 133, 64, 0.3) !important;
}

.whoami:hover {
	background-color: RGBA(183, 72, 63, 0.3) !important;
}

.material-icons{
	font-size: 40px !important;
}

// NAV-MOBILE

#mobile-demo a {
	font-size: 20px !important;
	padding-top: 20px;
	padding-bottom: 70px;

}