// BLOCK CITATION 

.citations{
	font-family: 'Dancing Script', cursive;
}

// NAV BAR 

nav  {
	height: 85px !important;
	background-color: white;
}
.chouetteHibouxLogo {
	padding-left: 20px !important;
}


.full_nav a, .side-nav a{
	color: $grey-text;
	font: $font-titre;
	// font-weight: bold;
	padding-left: 30px;
	text-align: center;
	padding-top: 50px;
	padding-bottom:50px;
	padding-right: 40px;
}

.material-icons{
	font-size: 40px !important;
}

// NAV-MOBILE

#mobile-demo a {
	font-size: 20px !important;
	padding-top: 20px;
	padding-bottom: 70px;

}