{% extends 'base.html.twig' %}

{% block body %}

    <div class="container admin">
        <div class="row">
            <div class="col l6 center">
                <img class="error" src="http://s2.quickmeme.com/img/a2/a244d09c1d6b6aaa1b222609064932e0501a463adc64b47331e30feb3c61800b.jpg" />
            </div>
            <div class="col l6 center error404">
                <h1 class="bijouxindex">Erreur</h1>
                <div class="error">
                    <p>Désolé cette page n'existe pas :(</p>
                </div>
            </div>

        </div>
    </div>


{%  endblock %}

