{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}

    <div class="container admin">
        <div class="row">
            <div class="col l6 center">
                <img class="error" src="https://s-media-cache-ak0.pinimg.com/736x/19/d3/d1/19d3d13e3a9b84984f2a4028e51d51df.jpg" />
            </div>
            <div class="col l6 center error403">
                <h1 class="bijouxindex">Maintenance</h1>
                <div class="error">
                    <p>Chouettes Hiboux Doudous est en maintenance, nous revenons rapidement ! </p>
                </div>
            </div>

        </div>
    </div>


{%  endblock %}

