// Qui suis-je ?

.about_page {
	background-color: RGBA(255,255,255,0.8);
	margin-top: 15px;
	padding: 5px;
	border-radius: 15px;
	text-align: justify;
}

.about_page h2 {
	font: $font-titre;
	letter-spacing: 3px;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #3FBFC1;
	text-align: center;
}

.about_page h3 {
	@include fontandline();
	font-size: 25px;
}

.about_p {
	font: $font-body;
	font-size: 20px !important;
	line-height: 15px !important;
}

.expression {
    font-style: italic;
    font-weight: bold;
}
