/*FOOTER*/
footer.page-footer{
    background-color: RGBA(255,255,255,0.6);
    margin-bottom:0px;
	padding-top: 0px;
}
.footer-copyright {
    background-color: transparent !important;
    text-align: center;
}

footer.page-footer .footer-copyright{
    color:RGBA(87, 73, 73, 0.8);
}

.h5footer{
    font: $font-titre;
    color:#724399;
}

/*MEDIA-QUERIES*/

@media screen and (min-width:1024px){
    .doudousFooter, .bijouxFooter, .accessoiresFooter, .whoamiFooter, .contactmeFooter{
        font-size:20px!important;
    }
    .h5footer{
        font-size:25px;
    }
}

@media screen and (max-width:980px){
    .doudousFooter, .bijouxFooter, .accessoiresFooter, .whoamiFooter, .contactmeFooter{
        font-size:20px!important;
    }
    .h5footer{
        font-size:25px;
    }
    .responsive-img{
        width: 75%;
    }
    .social{
        width: 100%;
    }
}

@media screen and (max-width:740px){
    .doudousFooter, .bijouxFooter, .accessoiresFooter, .whoamiFooter, .contactmeFooter{
        font-size:20px!important;
    }
    .h5footer{
        font-size:25px;
    }
    .responsive-img{
        width: 30%;
        min-width: 50px;
    }
    .social{
        width: 100%;
    }
}

@media screen and (max-width:480px){
    .doudousFooter, .bijouxFooter, .accessoiresFooter, .whoamiFooter, .contactmeFooter{
        font-size:20px!important;
    }
    .h5footer{
        font-size:25px;
    }
    .responsive-img{
        width: 30%;
        min-width: 50px;
    }
    .social{
        width: 100%;
    }
    .chouette2{
        margin-left:-100px;
    }
}

@media screen and (max-width:320px){
    .doudousFooter, .bijouxFooter, .accessoiresFooter, .whoamiFooter, .contactmeFooter{
        font-size:20px!important;
    }
    .h5footer{
        font-size:25px;
    }
    .responsive-img{
        width: 30%;
        min-width: 50px;
    }
    .social{
        width: 100%;
    }
    .chouette2{
        margin-left:-50px;
    }
}

/*FIN MEDIA-QUERIES*/

.doudousFooter{
    color: #E93255;
    font: $font-body;
    font-size: 25px;
    font-weight: bold;
}

.bijouxFooter {
    color: #724399;
    font: $font-body;
    font-size: 25px;
    font-weight: bold;
}

.accessoiresFooter {
    color: #468540;
    font: $font-body;
    font-size: 25px;
    font-weight: bold;
}

.whoamiFooter {
    color:#B7483F;
    font: $font-body;
    font-size: 25px;
    font-weight: bold;
}

.contactmeFooter {
    color:#3FBFC1;
    font: $font-body;
    font-size: 25px;
    font-weight: bold;
}

//.social {
//    width: 100% !important;
//    height: 100% !important;
//}

//.contactme:hover {
//    background-color: RGBA(63, 191, 193, 0.3) !important;
//}

/*FIN FOOTER*/

/*RETOUR EN HAUT*/
a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: url("../images/noun2.png") no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
/*FIN RETOUR EN HAUT*/