/*-----------------------------------------------------*\
	SOMMAIRE	SOMMAIRE	SOMMAIRE	SOMMAIRE
/*-----------------------------------------------------*\
FONT______________ Font of website
GENERAL___________ style general
MENU______________ Style of NavBar (include)
FOOTER____________ Style of footer (include)
HOME______________ Style page : Homepage
DOUDOUS and co_____Style page : Pages
CONTACT____________Style page : Formulaire
ABOUT ____________ Style page : About


/*-----------------------------------------------------*\
	PALLETTE DE COULEUR		PALLETTE DE COULEUR
\*-----------------------------------------------------*/

$brown:rgb(185,71,59);
$red:rgb(236,46,82);
$blue:rgba(54,191,194,0.35);
$purple:rgb(115,64,155);
$mauve:rgb(206,76,154);
$yellow:rgb(235,216,29);
$green:rgb(68,134,60);
$blue-title:rgb(8,148,175);
$grey-text:rgb(66,66,66);


/*-----------------------------------------------------*\
       FONT         FONT        FONT        FONT
\*-----------------------------------------------------*/


@font-face {
	font-family: 'butterfly';
	src: local('butterfly'), url('../fonts/DK-Butterfly-Ball.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

$font-body: 16px 'Didact Gothic';
$font-titre: 2vw 'butterfly';


@mixin fontandline() {
	font-family:'Didact Gothic';
	font-size:18px;
	line-height:22px;
}

h1{
	font: $font-titre;
	letter-spacing: 3px;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #3FBFC1;
	text-align: center;
}

strong {
	font-weight: bold;
}

h5{
	font: $font-titre;
	color: rgba(87, 73, 73, 0.8);
}


/*-----------------------------------------------------*\
      GENERAL      GENERAL      GENERAL     GENERAL
\*-----------------------------------------------------*/

body{
	min-height: 100vh;
	background-image: url('../images/wood.jpg');
	display: flex;
	flex-direction: column;

}

section{
	min-height:100%;
}

.container, .main {
	flex: 1 0 auto;
}

.row{
	margin-bottom: 1px;
	padding: 5px;
}

.flash-notice {
	color: red !important;
	font: $font-body;
	font-size: 20px;
	background: RGBA(255,255,255,0.6) !important;
	padding: 15px 0px 15px 0px;
	margin: 20px 0px;
	border: 1px solid;
}


/*-----------------------------------------------------*\
       ADMIN      ADMIN      ADMIN     ADMIN
\*-----------------------------------------------------*/

.admin {
	background-color: RGBA(255,255,255,0.8);
	margin-top: 15px;
	padding: 20px;
	border-radius: 15px;
}

.adminmodele {
	width: 90%;
	max-width: none;
}

select{
	display: block;
}

.bigtxt{
	max-height: 150px;
	overflow: auto;
}

.boutons {
	text-align: center;
}

table {
	font: $font-body;
	font-size: 18px;
	margin-bottom: 15px;
	table-layout: fixed;
}

tbody tr td {
	//border: 1px solid #848993;
	margin-bottom: 10px;
	text-align: center;
}

thead th {
	//border: 1px solid #848993;
	text-align: center;

}

td > img {
	max-height: 200px;
	max-width: 100%;
}

td {
	word-wrap: break-word;
}

button {
	background: none;
	border: none;
}

.citationadmin {
	color: #E93255;
	font: $font-titre;
}

.catdmin {
	color: #724399;
	font: $font-titre;
}

.whoadmin {
	color: #468540;
	font: $font-titre;
}

.fa {
	font-size: medium !important;
}

.card {
	box-shadow: none;
	background-color: transparent;
}

.contactmeadmin {
	font: $font-titre;
	color: #3FBFC1;
}

.bijouxadmin {
	font: $font-titre;
	color: #724399;
}

.doudousadmin {
	font: $font-titre;
	color: #E93255;
}

.accessoiresadmin {
	font: $font-titre;
	color: #468540;
}

.card.small {
	padding-top: 100px;
}

.login {
	font-size: 20px;
}

.adminlog {
	color: #003E5E;
}

.li_admin:hover {
	background-color: RGBA(0, 62, 94, 0.3) !important;
}

.contactindex:hover {
	background-color: RGBA(63, 191, 193, 0.3) !important;
}

.errorlog {
	color: red;
}

.thumbsindex {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

/*-----------------------------------------------------*\
       ERROR      ERROR      ERROR     ERROR
\*-----------------------------------------------------*/

.error {
	text-align: center;
	font: $font-body;
	font-size: 20px;
}

.error404 {
	margin-top: 15%;
}

.error403 {
	margin-top: 10%;
}

.error500 {
	margin-top: 15%;
}

.errordiv {
	max-height: 600px;
	float: right;
	padding-right: 0;
	border-radius: 15px;
}

img.error {
	text-align: center;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
