/*---------------------------------------*\
            SOMMAIRE
FONT______________ Font of website
GENERAL___________ style general
MENU______________ Style of NavBar (include)
FOOTER____________ Style of footer (include)
HOME______________ Style page : Homepage
DOUDOUS and co_____Style page : Pages
CONTACT____________Style page : Formulaire
ABOUT ____________ Style page : About


\*-----------------------------------------*/

       // PALLETTE DE COULEUR             

$brown:rgb(185,71,59);
$red:rgb(236,46,82);
$blue:rgba(54,191,194,0.35);
$purple:rgb(115,64,155);
$mauve:rgb(206,76,154);
$yellow:rgb(235,216,29);
$green:rgb(68,134,60);
$blue-title:rgb(8,148,175);
$grey-text:rgb(66,66,66);
// $filter-gradient:filter-gradient(#f0f9ff, #a1dbff, vertical);



// @mixin blue-gradient(){
// 	background-color: rgb(240,249,255); // Old browsers
// 	@include filter-gradient(#f0f9ff, #a1dbff, vertical); // IE6-9
// 	@include background-image(linear-gradient(top, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%));
// }

/*-----------------------------------------------------*\
       $FONT         FONT        FONT        FONT  
\*-----------------------------------------------------*/


@font-face {
font-family: 'butterfly';
src: local('butterfly'), url('../fonts/DK-Butterfly-Ball.otf') format('opentype');
font-weight: normal;
font-style: normal;
}

// @import "compass/css3/";
// @include font-face('butterfly', font-files('DK-Butterfly-Ball.otf'));
$font-body: 16px 'Didact Gothic';
$font-titre: 2vw 'butterfly';


@mixin fontandline() {
	font-family:'Didact Gothic';
	font-size:18px;
	line-height:22px;
}



h1{
	font:$font-titre;
}

strong {
	font-weight: bold;
}




/*-----------------------------------------------------*\
       GENERAL      GENERAL      GENERAL     GENERAL  
\*-----------------------------------------------------*/

body{
	min-height: 100vh;
	background-image: url('../images/wood.jpg');
	display: flex;
	flex-direction: column;

}

section{
	min-height:100%;
}

.container, .main {
	flex: 1 0 auto;
}

/*-----------------------------------------------------*\
       ADMIN      ADMIN      ADMIN     ADMIN
\*-----------------------------------------------------*/

.admin {
	background-color: RGBA(255,255,255,0.8);
	margin-top: 15px;
	padding: 20px;
	border-radius: 15px;
}

.boutons {
	text-align: center;
}

table {
	font: $font-body;
	font-size: 18px;
	margin-bottom: 15px;
	table-layout: fixed;
}

tbody tr td {
	//border: 1px solid #848993;
	margin-bottom: 10px;
	text-align: center;
}

thead th {
	//border: 1px solid #848993;
	text-align: center;

}

td > img {
	max-height: 200px;
	max-width: 100%;
}

td {
	word-wrap: break-word;
}

button {
	background: none;
	border: none;
}

.citationadmin {
	color: #E93255;
	font: $font-titre;
}

.catdmin {
	color: #724399;
	font: $font-titre;
}

.whoadmin {
	color: #468540;
	font: $font-titre;
}

.fa {
	font-size: medium !important;
}

.card {
	box-shadow: none;
	background-color: transparent;
}

.contactmeadmin {
	font: $font-titre;
	color: #3FBFC1;
}

.bijouxadmin {
	font: $font-titre;
	color: #724399;
}

.doudousadmin {
	font: $font-titre;
	color: #E93255;
}

.accessoiresadmin {
	font: $font-titre;
	color: #468540;
}

.card.small {
	padding-top: 100px;
}