/****************************/
/****************************/
/*  Logo & navBar accueil   */
/****************************/
/****************************/
.nb_navbar_logo {
    width: 50% !important;
    height: 50% !important;
    min-width: 300px;
}

.bckground {
    background-color:#DEDEDE ;
}

.logadmin {
    float: right;
    padding: 15px;
}

.fa-3x {
    font-size: 25px !important;
    color: grey;
}

/****************************/
/****************************/
/*        row  & col        */
/****************************/
/****************************/
.rowCustom {
    padding: 0px !important;
    margin: 0px !important;
}

.colCustom {
    padding:0px !important;
    margin:0px;
    /*background-color:#dedede;*/
}

/***************************/
/***************************/
/* BLOCK avec texte = menu */
/***************************/
/***************************/
.colCustom:hover .iMasque {
    display: inline;
}

.iMasque {
    display: none;
}

/* Zone element cliquable*/
/* non survole */
.bckground a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #333;
    outline: none;
}

/* Zone element cliquable*/
/* survole */
.iMasque:hover {
    color: #999;
}

.boxMenu {
    padding-top: 15%;
}

/* Titre de la box */
.h3BoxMenu {
    text-transform: uppercase;
    text-align: center;
    font-size: bold;
    font-weight: 80%;
}

.doudousindex {
    font: $font-titre;
    color: #E93255;
    font-size: 40px;
}

.bijouxindex {
    font: $font-titre;
    color: #CE4C9A;
    font-size: 40px;
}

.accessoiresindex {
    font: $font-titre;
    color: #468540;
    font-size: 40px;
}

.whoamiindex {
    font: $font-titre;
    color: #B7483F;
    font-size: 40px;
}

.contactindex {
    font: $font-titre;
    color: #3FBFC1;
    font-size: 40px;
}

.contactindex:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

.imgChouetteAnimee {
    width: 100%;
}

.imgChouetteAnimeeSmall {
     width: 50%;
}
/****************************/
/****************************/
/* BLOCK avec photo + effet */
/****************************/
/****************************/
/* SURCHARGE framework ihover */

.ih-item.square {
    width: 100% !important;
    height: 100% !important;
    /* Suppression bordure shadow */
    border: 0px solid #fff !important;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3) !important;
}

.ih-item a {
    color: #3FBFC1 !important;
}

.ih-item.square.effect13 .info {
    font: $font-titre !important;
    font-size: 40px !important;
    //background-color: #ddddff !important;
    background: rgba(41, 146, 80, 0.6) !important;
}
// Zone titre
.ih-item.square.effect13 .info h3 {
    //background-color: #1ad280 !important;
    background-color: rgba(26, 210, 128, 0.8) !important;
}
/*.ih-item.square.effect13.colored .info {
  background: #1a4a72;
  background: rgba(26, 74, 114, 0.6);
}*/