// NAV BAR autres pages

nav  {
	height: 120px !important;
	background-color: RGBA(255,255,255,0.6);
}

.chouetteHibouxLogo {
	padding-left: 20px !important;
}

.navbar_logo {
	width: 80%;
	height: auto;
}

nav ul a:hover {
	background-color: rgba(0, 0, 0, 0) !important;
}

.full_nav a, .side-nav a{
	font: $font-titre;
	padding-left: 30px;
	text-align: center;
	padding-right: 40px;
	margin:auto;
}

.full_nav{
	height: 100%;
	display: flex;
}

.full_nav li{
	display: flex;
}

.doudous {
	color: #E93255;
	font: $font-body;
	font-size: 25px;
	font-weight: bold;
}

.bijoux {
	color: #CE4C9A;
	font: $font-body;
	font-size: 25px;
	font-weight: bold;
}

.accessoires {
	color: #468540;
	font: $font-body;
	font-size: 25px;
	font-weight: bold;
}

.whoami {
	color:#B7483F;
	font: $font-body;
	font-size: 25px;
	font-weight: bold;
}

.contactme {
	color:#3FBFC1;
	font: $font-body;
	font-size: 25px;
	font-weight: bold;
}

.social {
	width: 100% !important;
	height: 100% !important;
}

.li_accueil:hover {
	background-color: RGBA(252, 161, 60, 0.3) !important;
}

.li_doudous:hover {
	background-color: RGBA(233, 50, 85, 0.3) !important;
}

.li_bijoux:hover {
	background-color: RGBA(206, 76, 154, 0.3) !important;
}

.li_accessoires:hover {
	background-color: RGBA(70, 133, 64, 0.3) !important;
}

.li_whoami:hover {
	background-color: RGBA(183, 72, 63, 0.3) !important;
}

.li_contact:hover {
	background-color: RGBA(63, 191, 193, 0.3) !important;
}

.material-icons{
	font-size: 40px !important;
}

// NAV-MOBILE

#mobile-demo a {
	font-size: 20px !important;
	padding-top: 20px;
	padding-bottom: 70px;
}