// NAV BAR autre page

nav  {
	height: 120px !important;
	background-color: RGBA(255,255,255,0.6);
}

.chouetteHibouxLogo {
	padding-left: 20px !important;
}

.navbar_logo {
	width: 80%;
	height: auto;
}

nav ul a:hover {
	background-color: rgba(0, 0, 0, 0) !important;
}

.full_nav a, .side-nav a{
	font: $font-titre;
	padding-left: 30px;
	text-align: center;
	padding-right: 40px;
	margin:auto;
}

.full_nav{
	height: 100%;
	display: flex;
}

.full_nav li{
	display: flex;
}

.li_accueil:hover {
	background-color: RGBA(252, 161, 60, 0.3) !important;
}

.li_doudous:hover {
	background-color: RGBA(233, 50, 85, 0.3) !important;
}

.li_bijoux:hover {
	background-color: RGBA(114, 67, 153, 0.3) !important;
}

.li_accessoires:hover {
	background-color: RGBA(70, 133, 64, 0.3) !important;
}

.li_whoami:hover {
	background-color: RGBA(183, 72, 63, 0.3) !important;
}

.material-icons{
	font-size: 40px !important;
}

// NAV-MOBILE

#mobile-demo a {
	font-size: 20px !important;
	padding-top: 20px;
	padding-bottom: 70px;
}