{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container admin">
    <h1>Création de modèle</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" title="Valider"><i class="material-icons">done</i></button>
    {{ form_end(form) }}

        <div class="boutons">

            <a href="{{ path('modele_index') }}" title="Revenir à l'accueil"><i class="material-icons">home</i></a>
        </div>
    </div>
{% endblock %}
