.sass-cache/
/.phpintel/
app/bootstrap.php.cache
app/cache/dev/
app/config/parameters.yml
app/logs/dev.log
bin/
vendor/
web/bundles/
/composer.lock
/web/config.php
/web/uploads/
/web/media/cache/my_thumb/*