{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}
<div class="container admin">
    <h1 class="whoadmin">Qui suis-je ?</h1>

    <table class="responsive-table bordered striped">
        <thead>
            <tr>
                <th>Texte</th>
                <th>Editer</th>
            </tr>
        </thead>
        <tbody>
        {% for whoami in whoamis %}
            <tr>
                <td>{{ whoami.text }}</td>
                <td><a href="{{ path('whoami_edit', { 'id': whoami.id }) }}" title="Editer"><i class="material-icons accessoires">edit</i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="boutons">
            <a href="{{ path('whoami_new') }}" title="Créer"><i class="material-icons accessoires">add_circle</i></a>
            <a href="{{ path('admin_homepage') }}" title="Retourner à l'accueil de l'administration"><i class="material-icons accessoires">dashboard</i></a>
        </div>
    </div>
{% endblock %}
