{% extends 'base.html.twig' %}

{% block title %}
    About me -
{% endblock %}

{% block body %}
<div class="container about_page">
    <h2>Qui suis-je?</h2>
    <div class="row">
        <div class="col l12 m12 s12 center">
            <img src="{{ asset('uploads/images/' ~ whoami.image) }}" class="thumbsabout materialboxed"  alt="{{ whoami.alt }}"/>
        </div>
        <div class="col l12 m12 s12">
            {{ whoami.text|raw }}
        </div>
    </div>
</div>
{%  endblock %}
