{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}

<div class="container about_page">
    <h2>Qui suis-je?</h2>
    <div class="row">
        <div class="col l12 m12 s12 center">
                {% for whoami in whoamis %}
                    <img src="{{ asset('uploads/images/') }}{{ whoami.image }}" class="thumbs" alt="{{ whoami.image.alt }}"/>
        </div>

        <div class="col l12 m12 s12">
            <p>
                {{ whoami.text }}
            </p>
                {% endfor %}
        </div>
    </div>
</div>
{%  endblock %}