{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="col s12 center">
                <h1 class="doudousindex">Desinscription...</h1>
                <p>confirmée :-(</p>
                <p>A bientôt pour de nouveau doudou</p>
            </div>

        </div>
    </div>
    <script>
        window.setTimeout(function() {
            window.location.href = 'https://www.chouetteshiboux.com';
        }, 3000);
    </script>
{%  endblock %}
