@charset "UTF-8";
/*---------------------------------------*\
            SOMMAIRE
FONT______________ Font of website
GENERAL___________ style général
MENU______________ Style of NavBar (include)
FOOTER____________ Style of footer (include)
HOME______________ Style page : Homepage
DOUDOUS and co_____Style page : Pages
CONTACT____________Style page : Formulaire
ABOUT ____________ Style page : About


\*-----------------------------------------

       PALLETTE DE COULEUR             

$intense-orange_____#f9a02e;
$pastel-orange______#fba858;
$light-orange_______#ffdea5;
$intense-blue_______#1fa597;
$pastel-blue________#58c4b8;
$light-blue_________#80cbc4;
$red-contrast_______#b9184d;
$text_______________#35383a;
$text2______________#7b7b7b;
$font-grey__________#f1f1f1;

\*----------------------------------------*/
/*-----------------------------------------------------*\
       $FONT         FONT        FONT        FONT  
\*-----------------------------------------------------*/
/*-----------------------------------------------------*\
       GENERAL      GENERAL      GENERAL     GENERAL  
\*-----------------------------------------------------*/
/* line 3, ../sass/_navbar.scss */
.citations {
  font-family: 'Dancing Script', cursive;
}

/* line 9, ../sass/_navbar.scss */
nav ul a {
  color: red !important;
}

/*FOOTER*/
/* line 3, ../sass/_footer.scss */
footer.page-footer {
  margin-top: 500px !important;
  padding-top: 0px;
  border: 2px solid black;
}
