@charset "UTF-8";
/*---------------------------------------*\
            SOMMAIRE
FONT______________ Font of website
GENERAL___________ style général
MENU______________ Style of NavBar (include)
FOOTER____________ Style of footer (include)
HOME______________ Style page : Homepage
DOUDOUS and co_____Style page : Pages
CONTACT____________Style page : Formulaire
ABOUT ____________ Style page : About


\*-----------------------------------------

       PALLETTE DE COULEUR             

$intense-orange_____#f9a02e;
$pastel-orange______#fba858;
$light-orange_______#ffdea5;
$intense-blue_______#1fa597;
$pastel-blue________#58c4b8;
$light-blue_________#80cbc4;
$red-contrast_______#b9184d;
$text_______________#35383a;
$text2______________#7b7b7b;
$font-grey__________#f1f1f1;

\*----------------------------------------*/
/*-----------------------------------------------------*\
       $FONT         FONT        FONT        FONT  
\*-----------------------------------------------------*/
/*-----------------------------------------------------*\
       GENERAL      GENERAL      GENERAL     GENERAL  
\*-----------------------------------------------------*/
/* line 3, ../sass/_navbar.scss */
.citations {
  font-family: 'Dancing Script', cursive;
}

/* line 9, ../sass/_navbar.scss */
.brand-logo {
  padding-top: -2000px !important;
}

/* line 14, ../sass/_navbar.scss */
nav ul a {
  color: green !important;
}

/*FOOTER*/
/* line 3, ../sass/_footer.scss */
footer.page-footer {
  margin-top: 10px;
  padding-top: 0px;
  background-image: url("https://s18.postimg.org/lmcvfezy1/Les_hiboux.gif");
  background-repeat: no-repeat;
  background-position: right;
  margin-right: -20px;
  background-color: #ACEDC1;
}

/* line 13, ../sass/_footer.scss */
#row-footer {
  margin-left: 80px;
}

/* line 18, ../sass/_footer.scss */
h5.brown-text {
  font-size: 20px;
}

/* line 22, ../sass/_footer.scss */
.footer-copyright {
  font-color: brown-text text-lighten-3;
}

/*RETOUR EN HAUT*/
/* line 27, ../sass/_footer.scss */
a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: url("../images/noun2.png") no-repeat center 43%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
