{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}
<div class="container admin">
    <h1 class="catdmin">Liste des Catégories</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Editer</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.nom }}</td>
                <td>
                    <div class="boutons">
                            <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}" title="Editer"><i class="material-icons bijoux">mode_edit</i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="boutons">
            <a href="{{ path('categorie_new') }}" title="Créer une catégorie"><i class="material-icons bijoux">add_circle</i></a>
    </div>
    </div>
{% endblock %}
