<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />


    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>



<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% block stylesheets %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/
	font-awesome.min.css" integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('stylesheets/main.css"')"}}/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <!-- <link href="http://www.fontspace.com/david-kerkhoff/dk-butterfly-ball?text=" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
{% endblock %}

    <title>{% block title %}Chouettes Hiboux Doudous{% endblock %}</title>
</head>

<body>
{% block body %}