#-----------------------------------------------------------------------------------------------------
#Appel route utilisateur/client
#-----------------------------------------------------------------------------------------------------

user_routing:
    resource: routing/user.yml
    prefix:   /

#-----------------------------------------------------------------------------------------------------
#Appel route admin
#-----------------------------------------------------------------------------------------------------

chouettes_modele:
    resource: "@ChouettesBundle/Resources/config/routing/modele.yml"
    prefix:   /admin/modele

chouettes_whoami:
    resource: "@ChouettesBundle/Resources/config/routing/whoami.yml"
    prefix:   /admin/whoami

chouettes_citation:
    resource: "@ChouettesBundle/Resources/config/routing/citation.yml"
    prefix:   /admin/citation

#-----------------------------------------------------------------------------------------------------
#Route accueil admin
#-----------------------------------------------------------------------------------------------------

admin_homepage:
    path:     /admin/
    defaults: { _controller: ChouettesBundle:Default:admin }

#-----------------------------------------------------------------------------------------------------
#Route send mail
#-----------------------------------------------------------------------------------------------------

send_mail:
    path:     /mail
    defaults: { _controller: ChouettesBundle:Default:send }
    methods: [GET, POST]

#-----------------------------------------------------------------------------------------------------
#Route FosUserBundle
#-----------------------------------------------------------------------------------------------------

fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"

fos_user_profile:
    resource: "@FOSUserBundle/Resources/config/routing/profile.xml"
    prefix: /profile

fos_user_register:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /register

fos_user_resetting:
    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
    prefix: /resetting

fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /profile
